$background-color: hsl(223, 30%, 9%);
$background-color-translucid: rgba(16, 20, 30, 50%);
$semi-blue: hsl(223, 36%, 14%);
$red: hsl(0, 97%, 63%);
$accent-blue: hsl(223, 23%, 46%);
$white: hsl(0, 0, 100%);
$cardInfoColor: rgba(255, 255, 255, 75%);